@media screen and (width<=335px) {
    main .slider .container .container-wrapper {
        height: 300px;
    }
}
@media screen and (width<=360px) {
    .testimonialSection .container h2{
        text-align: center;
    }
}
@media screen and (width<=576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .bannerSection .bannerContent h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .bannerSection .bannerContent p {
        width: 100%;
    }
    .aboutBroadbandSection {
        flex-direction: column;
    }
    .aboutUsSection .container .aboutUsContent h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .broadBandCard1,
    .broadBandCard2,
    .broadBandCard3 {
        width: 100%;
    }
    .aboutUsSection .container {
        flex-direction: column;
        padding: 50px 20px;
    }
    .aboutUsSection .container .aboutUsContent {
        width: 100%;
    }
    .aboutUsSection .container .aboutUsContent h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .aboutUsSection .container .aboutImage {
        width: 100%;
        margin-top: 100px;
    }
    .aboutUsSection .container .aboutUsContent h2 {
        font-size: 50px;
        line-height: 66px;
    }
    .serviceSection .container ul {
        flex-direction: column;
        align-items: center;
    }
    .serviceSection .container ul li {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .plansSection .container .plansCards {
        flex-direction: column;
    }
    .plansCards .planCard {
        width: 100%;
    }
    .ourWorkSection {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding: 50px 20px;
    }
    .ourWorkSection .aboutWork ul {
        justify-content: space-between;
    }
    .ourWorkSection img {
        width: 100%;
    }
    .ourWorkSection .aboutWork {
        width: 90%;
        margin: auto;
    }
    .aboutWork h2,
    .aboutWork h3,
    .aboutWork p {
        text-align: center;
    }
    .aboutWork ul li h3 {
        text-align: left;
    }
    .slider .container .container-wrapper {
        margin: auto;
        height: 225px;
    }
    .slider .container .container-wrapper ul li {
        padding: 10px 20px;
    }
    .clientInfo h3 {
        font-size: 14px;
    }
    .clientInfo p {
        font-size: 12px;
    }
    .subscriberSection .container {
        flex-direction: column;
        padding: 0px 10px;
    }
    .subscriberSection .container .ourSubscriber {
        width: 100%;
        padding: 15px 25px;
        text-align: center;
    }
    .subscriberSection .container .inputSubscribe {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .subscriberSection .container .inputSubscribe input {
        width: 100%;
        margin-bottom: 10px;
        margin-left: -5px;
    }
    .subscriberSection .container .inputSubscribe button {
        width: 100%;
    }
    .contactSection{
        padding: 20px;
    }
    .contactSection .contactContent {
        width: 100%;
    }
    .contactSection img {
        display: none;
    }
    .contactSection .btn {
        width: 100%;
        padding: 15px 0px;
    }
    .detailsSection .container ul li {
        width: calc(100% / 1);
        margin: 25px 0px;
    }
    .mainFooter ul{
        flex-direction: column;
    }
    .mainFooter ul li{
        width: 100%;
        margin-top: 50px;
    }
}
@media screen and (width>=576px) {
    .container {
        width: 100%;
        padding: 0 50px;
    }
    .bannerSection .bannerContent h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .bannerSection .bannerContent p {
        width: 100%;
    }
    .aboutBroadbandSection {
        flex-direction: column;
    }
    .broadBandCard1,
    .broadBandCard2,
    .broadBandCard3 {
        width: 100%;
    }
    .aboutUsSection .container {
        flex-direction: column;
        padding: 50px 20px;    
    }
    .aboutUsSection .container .aboutUsContent {
        width: 90%;
    }
    .aboutUsSection .container .aboutUsContent h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .aboutUsSection .container .aboutImage {
        margin: 100px 0px;
    }
    .serviceSection .container ul {
        flex-direction: column;
        align-items: center;
    }
    .serviceSection .container ul li {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .ourWorkSection {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding: 100px 20px;
    }
    .ourWorkSection .aboutWork ul {
        justify-content: space-between;
    }
    .ourWorkSection img {
        width: 100%;
    }
    .ourWorkSection .aboutWork {
        width: 90%;
        margin: auto;
    }
    .aboutWork h2,
    .aboutWork h3,
    .aboutWork p {
        text-align: center;
    }
    .aboutWork ul li h3 {
        text-align: left;
    }
    .slider .container .container-wrapper {
        width: 90%;
        margin: auto;
    }
    .plansSection .container .plansCards {
        flex-direction: column;
    }
    .plansCards .planCard {
        width: 100%;
    }
    .ourWorkSection {
        padding: 100px 0px;
    }
    .subscriberSection .container {
        flex-direction: column;
    }
    .subscriberSection .container .ourSubscriber {
        width: 100%;
        padding: 15px 25px;
        text-align: center;
    }
    .subscriberSection .container .inputSubscribe {
        width: 100%;
        padding: 15px 25px;
        text-align: center;
    }
    .contactSection{
        padding: 50px;
    }
    .contactSection .contactContent {
        width: 100%;
        padding: 20px;
    }
    .contactSection img {
        display: none;
    }
    .contactSection .btn {
        width: 100%;
        padding: 15px 25px;
    }
    .detailsSection .container ul{
        align-items: center;
        flex-direction: column;
    }
    .detailsSection .container ul li {
        width: 100%;
        margin: 25px 0px;
    }
    .mainFooter ul{
        flex-direction: column;
    }
    .mainFooter ul li{
        width: 100%;
        margin-top: 50px;
    }
}
@media screen and (width>=768px) {
    .container {
        width: 100%;
    }
    nav .menu {
        display: block;
    }
    nav ul {
        display: none;
    }
    header .container nav {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .bannerSection .bannerContent {
        width: 70%;
    }
    .bannerSection .bannerContent h1 {
        font-size: 50px;
        line-height: 55px;
    }
    .bannerSection .bannerContent p {
        width: 80%;
        font-size: 14px;
        letter-spacing: .5px;
        font-weight: 300;
        color: #f8f9fa;
        opacity: .7;
        line-height: 24px;
        margin: 30px 0px;
    }
    .serviceSection .container ul li {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .plansSection .container .plansCards {
        flex-direction: column;
    }
    .plansCards .planCard {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .detailsSection .container ul li {
        width: 100%;
        align-items: center;
    }    
    .mainFooter ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mainFooter ul li{
        width: 50%;
        margin-top: 50px;
    }
  
}
@media screen and (width>=1024px) {
    .container {
        width: 1024px;
    }
    nav .menu {
        display: none;
    }
    header .container nav {
        width: 50%;
    }
    header .container nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bannerSection .bannerContent {
        width: 70%;
    }
    .bannerSection .bannerContent h1 {
        font-size: 60px;
        line-height: 65px;
    }
    .aboutBroadbandSection {
        flex-direction: row;
    }
    .aboutUsSection .container {
        flex-direction: row;
        padding: 50px 30px;    
    }
    .aboutUsSection .container .aboutUsContent {
        width: 70%;
    }
    .aboutUsSection .container .aboutUsContent h2 {
        font-size: 60px;
        line-height: 65px;
    }
    .aboutUsSection .container .aboutImage {
        margin: 0px 0px;
    }
    .serviceSection .container ul {
        flex-direction: row;
        justify-content: space-between;
    }
    .serviceSection .container ul li {
        width: 32%;
        margin: auto;
        margin-bottom: 2%;
    }
    .ourWorkSection {
        flex-direction: row;
        padding: 100px 0px;

    }
    .ourWorkSection img {
        width: 50%;
    }
    .ourWorkSection .aboutWork {
        width: 45%;
    }
    .aboutWork h2,
    .aboutWork h3,
    .aboutWork p {
        text-align: left;
    }
    .slider .container .container-wrapper {
        width: 90%;
        height: 330px;
        margin: auto;
    }
    .plansSection .container .plansCards {
        flex-direction: row;
    }
    .plansCards .planCard {
        width: 32%;
    }
    .subscriberSection .container {
        flex-direction: row;
    }
    .subscriberSection .container .ourSubscriber {
        width: 50%;
        padding: 0px;
        text-align: left;
    }
    .subscriberSection .container .inputSubscribe {
        width: 50%;
        padding: 0px;
        text-align: right;
    }
    .contactSection {
        padding: 50px;
    }
    .contactSection .contactContent {
        width: 45%;
        padding: 0px;
    }
    .contactSection img {
        display: block;
    }
    .detailsSection .container ul{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .detailsSection .container ul li{
        width: calc(100% / 2);
    }
    .contactSection {
        flex-direction: row;
    }
    .mainFooter ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mainFooter ul li{
        width: calc(100% / 4); ;
        margin-top: 50px;
    }
}
@media screen and (width>=1200px) {
    .container {
        width: 1200px;
    }
    header .container nav {
        width: 40%;
    }
    .bannerSection .bannerContent {
        width: 65%;
    }
    .bannerSection .bannerContent h1 {
        font-size: 65px;
        line-height: 75px;
    }
    .serviceSection .container ul li {
        padding: 20px;
    }
    .slider .container .container-wrapper {
        width: 90%;
        height: fit-content;
        margin: auto;
    }
    .detailsSection .container ul li{
        width: calc(100% / 4);
    }
}
@media screen and (width>=1400px) {
    .container {
        width: 1400px;
    }
    .slider .container .container-wrapper {
        width: 1200px;
        margin: auto;
    }
}
