@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.3s ease-in-out; */
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* background-color: #1c262f; */
}

body .body-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('https://themewagon.github.io/mirko/assets/images/home.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    width: 100%;
    padding: 10px 20px;
    margin: auto;
}

nav .menu {
    display: block;
}

header {
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

header .container h1 {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

header .container nav {
    width: max-content;
}

header .container nav ul {
    display: none;
    transition: all 0.3s ease-in-out;
    opacity: .8;

}

header .container nav ul li:hover .navItm {
    color: #02DDA8;
    transition: all 0.3s ease-in-out;
}

header .container nav ul .drop {
    position: relative;
    top: 0;
}

header .container nav ul .drop .dropdown {
    width: max-content;
    position: absolute;
    padding: 15px 0px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
}

header .container nav ul .drop:hover .dropdown {
    display: flex;
    background-color: #1c262f;
}

header .container nav ul .drop .dropdown li {
    width: 100%;
    background-color: #1c262f;
    padding: 10px 15px;
    border-radius: 5px;
}

header .container nav ul .drop .dropdown li:hover a {
    transition: all 0.3s ease-in-out;
    color: #02DDA8;
}

header .container nav ul li a {
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    font-size: 14px;
}

header .container nav ul .socialMediasLogo {
    background: linear-gradient(#0ee951, #00dabf);
    padding: 3px 6px;
    border-radius: 50%;
}

header .container nav ul .socialMediasLogo i {
    color: white;
}

header .container nav ul .socialMediasLogo:hover i {
    color: #1c262f;
    transition: all 0.3s ease-in-out;
}

main .bannerSection {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.bannerSection .bannerContent {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerSection .bannerContent h1 {
    font-size: 65px;
    font-weight: 500;
    color: white;
    line-height: 75px;
}

.bannerSection .bannerContent h1 span {
    background: -webkit-linear-gradient(#0ee951, #00dabf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerSection .bannerContent p {
    width: 80%;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 300;
    color: #f8f9fa;
    opacity: .7;
    line-height: 24px;
    margin: 30px 0px;
}

.bannerSection .bannerContent .bannerItems {
    margin: 10px 0;
    padding-right: 50px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bannerSection .bannerContent .bannerItems span {
    font-size: 14px;
    color: white;
    opacity: .8;
}

.bannerSection .bannerContent .bannerItems span i {
    color: #0ee951;
    font-size: 30px;
    opacity: 1;
}

.bannerSection .bannerContent button {
    background-color: transparent;
    width: max-content;
    padding: 10px 30px;
    margin-top: 20px;
    border: 2px solid #0ee951;
    box-shadow: 5px 5px 0px 1px #0ee951;
    font-size: 16px;
    color: white;
    font-weight: 300;
    transition: all 0s ease-in-out;

}

.bannerSection .bannerContent button:hover {
    position: relative;
    top: 5px;
    right: -5px;
    box-shadow: 0px 0px 0px 0px #0ee951;
    transition: all 0s ease-in-out;
}

.aboutBroadbandSection {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
}

.aboutBroadbandSection .broadBandCard1,
.aboutBroadbandSection .broadBandCard2,
.aboutBroadbandSection .broadBandCard3 {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
}

.aboutBroadbandSection .broadBandCard1 i,
.aboutBroadbandSection .broadBandCard2 i,
.aboutBroadbandSection .broadBandCard3 i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #0ee951;
}

.aboutBroadbandSection .broadBandCard1 h2,
.aboutBroadbandSection .broadBandCard2 h2,
.aboutBroadbandSection .broadBandCard3 h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.aboutBroadbandSection .broadBandCard1 p,
.aboutBroadbandSection .broadBandCard2 p,
.aboutBroadbandSection .broadBandCard3 p {
    font-size: 14px;
    opacity: .7;
    line-height: 24px;
    width: 80%;
}

.aboutBroadbandSection .broadBandCard1 {
    background-color: #1c262f;
    color: white;
}

.aboutBroadbandSection .broadBandCard2 {
    background-color: #212D37;
    color: white;
}

.aboutBroadbandSection .broadBandCard3 {
    background-color: #FFFFFF;
    color: black;
}

.aboutUsSection {
    width: 100%;
    background-color: #212D37;
}

.aboutUsSection .container {
    display: flex;
    align-items: center;
    padding: 50px 30px;
}

.aboutUsSection .container .aboutUsContent {
    width: 70%;
    color: white;
    margin-top: 30px;
}

.aboutUsSection .container .aboutUsContent h3 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.aboutUsSection .container .aboutUsContent h2 {
    font-size: 65px;
    font-weight: 500;
    line-height: 75px;
}

.aboutUsSection .container .aboutUsContent p {
    font-size: 14px;
    opacity: .7;
    line-height: 24px;
    padding-right: 50px;
    margin: 10px 0px;
}

.aboutUsSection .container .aboutUsContent button {
    background-color: transparent;
    width: max-content;
    padding: 10px 30px;
    margin-top: 20px;
    border: 2px solid #0ee951;
    box-shadow: 5px 5px 0px 1px #0ee951;
    font-size: 14px;
    color: white;
    font-weight: 300;
    transition: all 0s ease-in-out;
}

.aboutUsSection .container .aboutUsContent button:hover {
    position: relative;
    top: 5px;
    right: -5px;
    box-shadow: 0px 0px 0px 0px #0ee951;
    transition: all 0s ease-in-out;
}

.serviceSection {
    width: 100%;
    background-color: #1C262F;
}

.serviceSection .container .serviceTop {
    text-align: center;
    padding: 50px 0px;
}

.serviceSection .container .serviceTop h3 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.serviceSection .container .serviceTop h2 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.serviceSection .container .serviceTop p {
    font-size: 14px;
    opacity: .6;
    line-height: 24px;
    color: white;
}

.serviceSection .container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.serviceSection .container ul li {
    width: 32%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid white;
    margin-bottom: 2%;
    transition: all 0s ease-in-out;

}

.serviceSection .container ul li:hover {
    border: 2px solid #0ee951;
    transform: scale(1.01);
    box-shadow: 5px 5px 0px 1px #0ee951;
    transition: all 0s ease-in-out;
}

.serviceSection .container ul li i {
    font-size: 40px;
    color: #0ee951;
    margin-bottom: 10px;
}

.serviceSection .container ul li h2 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.serviceSection .container ul li p {
    font-size: 14px;
    opacity: .6;
    line-height: 24px;
    color: white;
}

@media screen and (width>=576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (width>=768px) {
    nav .menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    header .container nav {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}

@media screen and (width>=1024px) {
    .container {
        width: 1024px;
        padding: 0 20px;
    }

    nav .menu {
        display: none;
    }

    header .container nav {
        width: 50%;
    }

    header .container nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (width>=1200px) {
    .container {
        width: 1200px;
        padding: 0 20px;
    }
}

@media screen and (width>=1400px) {
    .container {
        width: 1400px;
    }
}
